.users {
	padding: 30px 0;

	&__container {
		& > :not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
